body {
    color: white !important;
}

.navbar, .navbar-nav, .nav-item, .nav-link, .dropdown-menu, .dropdown-item, .form-label, .form-check-label {
    color: white !important;
}

.navbar {
    background-color: rgb(0, 0, 0, 0) !important;
}

button {
    color: white !important;
}

a {
    color: white !important;
}

.navbar-nav .nav-item.separator {
    display: flex;
    align-items: center; 
    margin-bottom: 3px;
    padding: 0 10px; 
}

.navbar-nav .nav-item.separator .separator-text {
    font-size: 20px;
    line-height: 0.3; 
}

@media (max-width: 768px) {
    .separator-text {
        display: none; 
    }

    .nav-link {
        margin: 0px 0;
    }

    .navbar-nav {
        align-items: flex-start;
    }

    .navbar-nav .nav-item {
        margin-left: 0 !important; 
    }
}
.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1); 
    border-radius: 5px;
}